doctype html
html
  head
    title Thank You
    link(rel="stylesheet", href="/css/bootstrap.min.css")
  body
    .container
      h1.mt-4 Thank you for registering!
      a(href="/register" class="btn btn-link mt-4") Register another user
